<template>
  <div>
    <div>
      <div>
        <nav class="navbar navbar-expand-lg" style="background-color: #553C7B;">
          <b-button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </b-button>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item ">
                <b-link style="color: grey"  class="nav-link text-decoration-none" to="/admin/index">Bitacora de productos</b-link>
              </li>
              <li class="nav-item active">
                <b-link style="color: white;"  class="nav-link text-decoration-none" to="/admin/logs">Bitacora de inicios de sesion</b-link>
              </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
              <b-link class="nav-link" @click="logout" data-toggle="tooltip" title="Cerrar sesión">
                <i class="fa fa-power-off fa-lg" style="color: white"></i></b-link>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <br>
    <b-container>
      <b-row>
        <b-col class="offset-8">
          <b-form-group
            id="search"
            label-for="search-input">
            <b-input-group-prepend>
                  <span class="input-group-text ">
                    <i class="fas fa-search" style="color: #292b2c"> </i>
                  </span>
              <b-form-input
                  placeholder="Buscar..."
                  size="sm"
                  id="search-input"
                  v-model="search"
                  @keyup="escribir"
                  type="text"
                  required></b-form-input>
            </b-input-group-prepend>
          </b-form-group>
        </b-col>
      </b-row>
    </b-container>
    <div class="d-flex justify-content-center">
      <b-container>
        <b-row>
          <b-col>
            <div>
              <table class="table">
                <thead style="background-color: #553C7B; color: white">
                <tr style="font-size: 14px">
                  <th scope="col">#</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Hora</th>
                  <th scope="col">Host</th>
                  <th scope="col">Correo electronico</th>
                  <th scope="col">Rol</th>
                </tr>
                </thead>
                <tbody>
                <tr style="font-size: 13px" v-for="(login, index) in logins" :key="login.id">
                  <th scope="row">{{index+1}}</th>
                  <td>{{login.attemptDate | moment("dddd, MMMM Do YYYY")}}</td>
                  <td>{{login.attemptDate | moment("LTS")}}</td>
                  <td>{{login.hostname}}</td>
                  <td>{{login.user.email}}</td>
                  <td>{{login.user.role === 0 ? 'Administrator' : 'Customer'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>
<script>
import axios from '@/plugins/axios'
export default {
  name: 'connections',
  metaInfo:{
    title: "Login Logs"
  },
  data(){
    return{
      logins: null,
      search: '',
      tiempo:'',
    }
  },
  methods:{
    getLoginLogs(){
      axios.GET('/getLoginLogs')
          .then(response=>{
            this.logins = response.data
          })
          .catch(error=>{

          })
    },
    logout(){
      localStorage.clear();
      this.$router.replace("/");
    },
    escribir(){
      clearTimeout(this.tiempo)
      this.tiempo = setTimeout(this.buscar,360)
    },
    buscar(){
      if(this.search === ''){
        this.getLoginLogs()
      }else{
        axios.GET('/searchLogin/'+this.search)
        .then(response => {
          this.logins = response.data
        })
      }
    }
  },
  mounted() {
    this.getLoginLogs()
  }
}
</script>
<style scoped>
table{
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
</style>
