<template>
  <div>
    <div>
      <div>
        <nav class="navbar navbar-expand-lg" style="background-color: #553C7B;">
          <b-button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </b-button>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item ">
                <b-link style="color: white"  class="nav-link text-decoration-none" to="/admin/index">Bitacora de productos</b-link>
              </li>
              <li class="nav-item active">
                <b-link style="color: grey;"  class="nav-link text-decoration-none" to="/admin/logs">Bitacora de inicios de sesion</b-link>
              </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
              <b-link class="nav-link" @click="logout" data-toggle="tooltip" title="Cerrar sesión">
                <i class="fa fa-power-off fa-lg" style="color: white"></i></b-link>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <br>
    <b-container>
      <b-row>
        <b-col class="offset-8">
          <b-form-group
            id="search"
            label-for="search-input">

            <b-input-group>
              <b-input-group-prepend>
                  <span class="input-group-text ">
                    <i class="fas fa-search" style="color: #292b2c"> </i>
                  </span>
              </b-input-group-prepend>
              <b-form-input
                  size="sm"
                  id="search-input"
                  v-model="search"
                  @keyup="escribir"
                  type="text"
                  placeholder="Bucar..."
                  required></b-form-input>
            </b-input-group>

          </b-form-group>
        </b-col>
      </b-row>
    </b-container>
    <div class="d-flex justify-content-center">
      <b-container>
        <b-row>
          <b-col>
            <table class="table ">
              <thead style="background-color: #553C7B; color: white">
              <tr  style="font-size: 14px">
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Host</th>
                <th scope="col">Informacion Actual</th>
                <th scope="col">Informacion Antigua</th>
                <th scope="col">Accion</th>
                <th scope="col">Usuario</th>
              </tr>
              </thead>
              <tbody>
              <tr class="text-center" style="font-size: 13px" v-for="(product, index) in products" :key="product.id">
                <th scope="row">{{index+1}}</th>
                <td>
                    {{product.changeDate | moment("LLL")}}
                </td>
                <td>{{product.user.hostname}}</td>
                <td>{{product.newInformation}}</td>
                <td>{{product.oldInformation}}</td>
                <td>{{product.sqlQuery}}</td>
                <td>{{product.user.user.email}}</td>
              </tr>
              </tbody>
            </table>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>
<script>
import axios from '@/plugins/axios'
export default {
  name: 'index',
  metaInfo:{
    title: "Index"
  },
  data(){
    return{
      products: null,
      logins: null,
      search: '',
      tiempo:'',
      producto:{}
    }
  },
  methods:{
    getProductsLogs(){
      axios.GET('/getChangeLogs')
      .then(response=>{
        this.products = response.data
      })
      .catch(error=>{

      })
    },
    logout(){
      localStorage.clear();
      this.$router.replace("/");
    },
    escribir(){
      clearTimeout(this.tiempo)
      this.tiempo = setTimeout(this.buscar,360)
    },
    buscar(){
      if(this.search === ''){
        this.getProductsLogs()
      }else{
        axios.GET('/search/'+this.search)
        .then(response => {
          this.products = response.data
        })
      }
    }
  },
  mounted() {
    this.getProductsLogs()
  }
}
</script>
<style scoped>
table{
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
</style>
