<template>
  <div>
    <div class="d-flex justify-content-center">
      <img src="@/assets/logo.png">
    </div>
    <div class="d-flex justify-content-center">
      <h3>Bienvenido!</h3>
    </div>
    <div >
      <b-form>

        <b-container  class="bv-example-row bv-example-row-flex-cols w-50 borders borderSDD">
          <br>
          <b-row>
            <b-col>
              <b-form-group
                  id="email"
                  label="Correo electronico:"
                  label-for="email-input">
                <b-form-input
                    id="email-input"
                    v-model="form.user.email"
                    type="text"
                    placeholder="Ingresa tu correo..."
                    required
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-form-group
                  id="password"
                  label="Contraseña:"
                  label-for="password-input">
                <b-form-input
                    id="password-input"
                    type="password"
                    v-model="form.user.password"
                    placeholder="ingresa tu contraseña..."
                    required
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-button type="button" block variant="primary" @click="submit">
                <i class="fas fa-sign-in-alt" style="color: white" />  Iniciar sesion</b-button>
            </b-col>
          </b-row>
          <br>
        </b-container>
      </b-form>

    </div>
  </div>
</template>

<script>
import axios from '@/plugins/axios'
export default {
  name: 'login',
  metaInfo:{
    title: "Log in"
  },
  data(){
    return{
      form:{
        hostname: null,
        user:{
          email: null,
          password: null
        }
      }
    }
  },
  mounted(){
    let host = (window.location.host).split(":")
    this.form.hostname = host[0]
  },
  methods: {
    submit(){
      axios.POST('/login',this.form)
      .then(response =>{
        if  (response.data.user.role == 1){
          localStorage.setItem("user", JSON.stringify(response.data))
          this.$router.replace("/user/index")
          this.$router.go(0)
        }
        if  (response.data.user.role == 0){
          localStorage.setItem("user", JSON.stringify(response.data))
          this.$router.replace("/admin/index")
          this.$router.go(0)
        }
      })
      .catch(error=>{
      })
    }
  },
}
</script>
<style scoped>
.borderSDD{
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
</style>
