<template>
  <div>
    <div>
      <b-navbar  style="background-color: #553C7B;">
        <b-navbar-nav>
          <b-nav-item> <a class="text-decoration-none" href="#" style="color: white"> Productos</a> </b-nav-item>
        </b-navbar-nav>
          <div class="form-inline my-2 my-lg-0 offset-11">
            <b-link class="nav-link" @click="logout" data-toggle="tooltip" title="Cerrar sesión">
              <i class="fa fa-power-off fa-lg" style="color: white"></i></b-link>
          </div>
      </b-navbar>
    </div>
    <div class=" d-flex justify-content-center">
      <div class="w-75" >
        <br>
        <div class="row">
          <div class="col-12">
            <b-container fluid="md" class="bv-example-row bv-example-row-flex-cols">
              <div class="d-flex justify-content-end" >

                <div class="d-flex justify-content-end">
                  <b-btn size="sm" @click="showModalAdd" variant="info"><i class="fas fa-plus"></i> Añadir producto</b-btn>
                </div>
              </div>
              <br>
              <div >
                <table class="table ">
                  <thead style="background-color: #553C7B; color: white">
                  <tr class="text-center mx-aut" >
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="text-center " v-for="(product, index) in products" :key="product.id">
                    <th scope="row">{{index+1}}</th>
                    <td>{{product.name}}</td>
                    <td>${{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td>
                      <div>
                        <div >
                          <b-btn pill @click="showModalUpdate(product)" class="mr-2" variant="primary"><i style="color: white" class="fa fa-edit" fa-lg /></b-btn>
                          <b-btn pill @click="showModalDelete(product.id)" class="mr-2" variant="danger"><i style="color: white" class="fa fa-trash-alt" fa-lg /></b-btn>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </b-container>
          </div>
        </div>
      </div>
    </div>

    <div>
      <!-- Modal Add -->
      <b-modal id="modalAdd" ref="modalAdd" hide-footer title="">
        <template #modal-title>
          <div class="d-block text-center">
            <h3 style="color: #292b2c" class="font-weight-bold">Registrar productos</h3>
          </div>
        </template>
        <div>
          <b-form>
            <b-container>
              <b-row>
                <b-col>
                  <b-form-group
                      id="name"
                      label-for="name-input">
                    <b-input-group>
                      <b-input-group-prepend>
                  <span class="input-group-text">
                    <i class="fas fa-cart-plus" style="color: #292b2c"></i>
                  </span>
                      </b-input-group-prepend>
                      <b-form-input
                          placeholder="Nombre del producto"
                          size="md"
                          id="name-input"
                          v-model="newProduct.name"
                          type="text"
                          required
                      ></b-form-input>
                    </b-input-group>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group
                      id="price"
                      label-for="price-input">
                    <b-input-group>
                      <b-input-group-prepend>
                  <span class="input-group-text ">
                    <i class="fas fa-dollar-sign" style="color: #292b2c"> </i>
                  </span>
                      </b-input-group-prepend>
                      <b-form-input
                          placeholder="Precio $"
                          size="md"
                          id="price-input"
                          v-model="newProduct.price"
                          type="number"
                          required
                      ></b-form-input>
                    </b-input-group>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group
                      id="quantity"
                      label-for="quantity-input">
                    <b-input-group>
                      <b-input-group-prepend>
                  <span class="input-group-text ">
                    <i class="fas fa-coins" style="color: #292b2c"> </i>
                  </span>
                      </b-input-group-prepend>
                      <b-form-input
                          size="md"
                          placeholder="Cantidad"
                          id="quantity-input"
                          v-model="newProduct.quantity"
                          type="number"
                          required
                      ></b-form-input>
                    </b-input-group>

                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <div class="d-flex justify-content-end">
                    <div>
                      <b-btn pill size="md" @click="addProduct" variant="primary" class="mr-2">Registrar</b-btn>
                      <b-btn pill size="md" @click="closeModalAdd" variant="danger" class="mr-2">Cancelar</b-btn></div>
                  </div>
                </b-col>
              </b-row>
            </b-container>
          </b-form>
        </div>
      </b-modal>


      <!-- Modal Update-->
      <b-modal id="my-modal" ref="my-modal" hide-footer title="">
        <template #modal-title>
          <div class="d-block text-center">
            <h3 style="color: #292b2c" class="font-weight-bold">Actualizar producto</h3>
          </div>
        </template>
        <div>
          <b-form>
            <b-container>
              <b-row>
                <b-col>
                  <b-form-group
                      id="name"
                      label-for="name-input">
                    <b-input-group>
                      <b-input-group-prepend>
                  <span class="input-group-text">
                    <i class="fas fa-cart-plus" style="color: #292b2c"></i>
                  </span>
                      </b-input-group-prepend>
                      <b-form-input
                          placeholder="Nombre del producto"
                          size="md"
                          id="name-input"
                          v-model="productUpdate.name"
                          type="text"
                          required
                      ></b-form-input>
                    </b-input-group>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group
                      id="price"
                      label-for="price-input">
                    <b-input-group>
                      <b-input-group-prepend>
                  <span class="input-group-text ">
                    <i class="fas fa-dollar-sign" style="color: #292b2c"> </i>
                  </span>
                      </b-input-group-prepend>
                      <b-form-input
                          placeholder="Precio $"
                          size="md"
                          id="price-input"
                          v-model="productUpdate.price"
                          type="number"
                          required
                      ></b-form-input>
                    </b-input-group>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <b-form-group
                      id="quantity"
                      label-for="quantity-input">
                    <b-input-group>
                      <b-input-group-prepend>
                  <span class="input-group-text ">
                    <i class="fas fa-coins" style="color: #292b2c"> </i>
                  </span>
                      </b-input-group-prepend>
                      <b-form-input
                          size="md"
                          placeholder="Cantidad"
                          id="quantity-input"
                          v-model="productUpdate.quantity"
                          type="number"
                          required
                      ></b-form-input>
                    </b-input-group>

                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <div class="d-flex justify-content-end">
                    <div>
                      <b-btn pill @click="updateProduct" variant="primary" class="mr-2">Actualizar</b-btn>
                      <b-btn pill @click="closeModal" variant="danger" class="mr-2">Cancelar</b-btn>
                    </div>
                  </div>
                </b-col>
              </b-row>
            </b-container>
          </b-form>
        </div>
      </b-modal>

      <!-- Modal Delete-->
      <b-modal id="my-modal" ref="modalDelete" hide-footer title="">
        <template #modal-title>
          <div class="d-block text-center">
            <h3 style="color: #292b2c" class="font-weight-bold">Eliminar producto</h3>
          </div>
        </template>
        <div class="d-flex justify-content-center">
          <div>
            <p>¿Estas seguro de eliminar este producto?</p>
          </div>
        </div>
        <div>
          <b-form>
            <b-container>
              <b-row>
                <b-col>
                  <div class="d-flex justify-content-center">
                    <b-btn pill @click="deleteProduct" variant="primary" class="mr-2">Eliminar</b-btn>
                    <b-btn pill @click="closeModalDelete" variant="danger" class="mr-2">Cancelar</b-btn>
                  </div>
                </b-col>
              </b-row>
            </b-container>
          </b-form>
        </div>
      </b-modal>
    </div>
  </div>
</template>
<script>
import axios from '@/plugins/axios'
export default {
  name: 'index',
  metaInfo:{
    title: "Home"
  },
  data(){
    return{
      products: null,
      id: null,
      newProduct:{
        name: null,
        price: null,
        quantity: null,
        user: null
      },
      productUpdate:{
        name: null,
        price: null,
        quantity: null,
        user: null
      },
    }
  },
  methods: {
    getProducts() {
      axios.GET('/findAllProducts')
          .then(response => {
            this.products = response.data
          })
          .catch(error => {
          })
    },
    showModalDelete(id) {
      this.$refs['modalDelete'].show()
      this.id = id
    },
    showModalAdd() {
      this.$refs['modalAdd'].show()
    },
    showModalUpdate(product) {
      this.productUpdate = Object.assign({}, product);
      this.$refs['my-modal'].show()
    },
    addProduct() {
      this.newProduct.user = JSON.parse(localStorage.getItem("user"))
      axios.POST('/addProduct', this.newProduct)
          .then(response => {
            this.getProducts()
            this.closeModalAdd()
            this.newProduct.name = null
            this.newProduct.price = null
            this.newProduct.quantity = null
          }).catch(error => {

      })
    },
    closeModal() {

      this.$refs['my-modal'].hide()
      this.getProducts()
    },
    closeModalAdd() {
      this.$refs['modalAdd'].hide()
      this.getProducts()
    },
    closeModalDelete() {
      this.$refs['modalDelete'].hide()
      this.getProducts()
    },
    updateProduct() {
      this.productUpdate.user = JSON.parse(localStorage.getItem("user"))
      axios.PUT('/updateProduct', this.productUpdate)
          .then(response => {
            this.closeModal()
            this.getProducts()
          })
          .catch(error => {

          })
    },
    deleteProduct(){
      axios.DELETE('/deleteProduct/'+this.id)
      .then(response =>{
        this.getProducts()
        this.closeModalDelete()
      })
      .catch(error=>{

      })
    },
    logout(){
      localStorage.clear();
      this.$router.replace("/");
    }
  },
  mounted() {
    this.getProducts()
  }
}
</script>

<style scoped>
table{
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

</style>
